.p-owner-container{
  width: 800px;
  height: 300px;
background: $main-background;
  position: relative;
  bottom: 200px;
  left: 700px;
  padding: $space_xl;
  &__text{
    font-size: .9em;
  }
  &__text > p {
    font-size: 1.4em;
  }
  &__text:after{
    content: 'John Smith';
    display: block;
    line-height: 1;
  }
}