.first{
  text-align: center;
  width: 1300px;
  padding-right: $space_xxl;
  padding-left: $space_xxl;
  margin: 0 auto;
  height: 1200px;
  &__img--container{
    display: flex;
    justify-content: space-between;
    margin: auto;

  }
}

//vue　アニメーション
.img--fade-enter-active,.img--fade-leave-active{
  transition: all 1s ease;
  opacity: 1;

}
.img--fade-enter,.img--fade-leave-to{
  opacity: 0;
  transform: translateX(-20%);
}

.img--fade--right-enter-active,.img--fade--right-leave-active{
  transition: all 1s ease;
  opacity: 1;
}
.img--fade--right-enter,.img--fade--right-leave-active{
  opacity: 0;
  transform: translateX(20%);
}



.second{
  color: $main-color;
  width: $container-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.menu--img--left-enter-active,.menu--img--left-leave-active{
  transition: all 1.5s ease;
  opacity: 1;
}
.menu--img--left-enter,.menu--img--left--leave-active{
  opacity: 0;
  transform: translateX(-100%);
}
.menu--text-right-enter-active,.menu--text-right-leave-active{
  transition: all 1.5s ease;
  opacity: 1;
}
.menu--text-right-enter,.menu--text-right-leave-active{
  opacity: 0;
  transform: translateX(100%);
}
.menu--img-right-enter-active,.menu--img-right-leave-active{
  transition: all 1.5s ease;
  opacity: 1;
}
.menu--img-right-enter,.menu--img-right-leave-active{
  opacity: 0;
  transform: translateX(100%);
}
.menu--text-left-enter-active,.menu--text-left-leave-active{
  transition: all 1.5s ease;
  opacity: 1;
}
.menu--text-left-enter,.menu--text-left-leave-active{
  opacity: 0;
  transform: translateX(-100%);
}



.third{
margin: 0 auto;
}

